.dashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dashboardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .dashboardGrid {
    grid-template-columns: 1fr;
  }
}
